[user]
    email = {{ .personal.email }}
    name = {{ .personal.name }}
{{- $pkey := .personal.git_signing_key -}}
{{- with (get .personal "git_signing_key_by_host") }}{{ $pkey = dig $.chezmoi.hostname $pkey . }}{{ end }}
    signingKey = {{ $pkey }}

[commit]
    gpgSign = true
    signoff = true

[tag]
    gpgSign = true
    signoff = true

[push]
    gpgSign = false
    signoff = false

[gpg]
    format = ssh
