ENABLE_LIMINE_FALLBACK=yes
KERNEL_CMDLINE[default]+="root=/dev/mapper/{{ conf.root_dev_mapper }} cryptdevice=UUID={{ conf.cryptdevice_uuid }}:{{ conf.root_dev_mapper }} rd.luks.name={{ conf.cryptdevice_uuid }}={{ conf.root_dev_mapper }} rootflags=subvol={{ conf.rootflags_subvol }} zswap.enabled=0 rw"
ROOT_SNAPSHOTS_PATH="/@snapshots"
